.container{
    width: 400px;
    height: 225px;
    margin: auto;      
}

p{
    font-weight: bold;
    font-size: 16px;
    list-style-position: inside;
   
}

#top{
    text-decoration:none;
}

.emphasizedText{
    font-style: italic;
    color: salmon;
}

body{
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;

}
ol{
    list-style-position: inside;
}

ul{
    list-style-position: inside;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}

.common{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.header{
    height: 100px;
    background-color: bisque;
    color: charcoal;
    line-height: 100px;
}

.tableausection{
    font-style: italic;
    font-weight: bolder;
}

nav{
    background-color: bisque;
    padding: 15px;
    overflow: hidden;
}

nav a:hover{
    background-color: lightgray;
}

nav a {
    float:none;
    text-decoration: solid;
    color: black;
    padding: 10px 15px;
    font-size: medium;
    font-weight:500;
    
}

.formattedpara{
    text-align: left;

}

.footer{
    height:25px;
    padding-top:10px;
    position:fixed;
    background-color: black;
    color:antiquewhite;
    bottom: 0px;
    left:5px;
    right:5px;


}